* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
img {
    border-radius: 16px;
}

div {
    display: flex;
    flex: auto;
}

.landing {
    flex-direction: column;
}
.header-cont {
    background-color: cornflowerblue;
    flex-grow: 1;
    
}
.header {
    padding: 8px;
    align-items: center;
}

.right-links{
    flex-grow: 0;
    gap: 16px;
    margin-right: 20px;
}

.left-links .logo {
    width: 200px;
    height: 200px;
    
    
}
